<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>WellCome</title>
  </head>
  <body>
    <h1>WellCome Page</h1>
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima fuga
      facilis blanditiis veritatis fugiat ex incidunt quae dolorum doloribus.
      Cum voluptatem expedita, laborum facilis enim eaque libero aperiam amet!
      Iure!
    </h1>
  </body>
</html>
